@import "tailwindcss";

@theme {
  --color-primary: #4F46E5;
  --color-secondary: #10B981;
  --color-background: #F9FAFB;
  --color-surface: #FFFFFF;
  --font-sans: Inter, sans-serif;
}


@layer base {
  body {
    @apply bg-background text-gray-900 antialiased;
    /* Prevent pull-to-refresh on mobile */
    overscroll-behavior-y: none;
  }
}